th {
    font-size: 13px;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.cus-bg {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.41789215686274506) 35%, rgba(27,66,138,0.6643907563025211) 100%);
}

.wrap-card {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background: rgba(84,132,219,0.879);
}

#balanceCard {
    width: 180px;
    min-height: 140px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #000;
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }
