.table {
    -webkit-overflow-scrolling: touch;
}

.cus-bg {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.41789215686274506) 35%, rgba(27,66,138,0.6643907563025211) 100%);
}

#selectExpenseRowStyle {
    cursor: pointer;
    user-select: none;
}